*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.primary-color{
    color: #30B868;;
}

.btn:hover{
    background-color: #0d572c;
}

.btn{
    border: none;
    background-color: #30B868;
    padding: 12px 16px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.navbar{
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px;
}

.navbar ul li a{
    text-decoration: none;
    color: #000000;
}

.navbar ul li{
    list-style: none;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


.banner{
    max-width: 1600px;
    background-image: url('./assets/hero-bg.png');
    background-size: cover;
    text-align: center;
    padding: 150px 340px;
    margin-bottom: 70px;
}

.early-button{
    background-color: white;
    border-radius: 1000px;
    padding: 8px 12px;
    font-weight: 600;
    border: none;
}
.early-button:hover{
    background-color: #0d572c;
}

.banner h1{
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 20px;
}
.font-color{
    color: white;
}

.banner p{
    color: white;
    line-height: 35px;
    font-size: 18px;
    margin-bottom: 20px;
}
.banner .play-button{
    background-color: transparent;
    outline: auto;
}
.play-button:hover{
    background-color: #62ad82;
}

.access-button{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}


.structure-container{
    width: 80%;
    max-width: 1300;
    border: 2px solid red;
    margin: auto;
    text-align: center;
}
.card{
    border: 2px solid aqua;
    padding: 50px 24px;
}
.card img{
    background-color: gold;
}
.card-container{
    display: flex;
    gap: 24px;
}