* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.primary-color {
    color: #30B868;
    ;
}

.font-color {
    color: #627382;
}


.btn:hover {
    background-color: #0d572c;
}

.btn {
    border: none;
    background-color: #30B868;
    padding: 12px 16px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.navbar {
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px;
}

.navbar ul li a {
    text-decoration: none;
    color: #000000;
}

.navbar ul li {
    list-style: none;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}


.banner {
    max-width: 1600px;
    background-image: url('./assets/hero-bg.png');
    background-size: cover;
    text-align: center;
    padding: 150px 340px;
}

.early-button {
    background-color: white;
    border-radius: 1000px;
    padding: 8px 12px;
    font-weight: 600;
    border: none;
}

.early-button:hover {
    background-color: #0d572c;
}

.banner h1 {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 20px;
}

.font-color {
    color: white;
}

.banner p {
    color: white;
    line-height: 35px;
    font-size: 18px;
    margin-bottom: 20px;
}

.banner .play-button {
    background-color: transparent;
    outline: auto;
}

.play-button:hover {
    background-color: #62ad82;
}

.access-button {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

#structure-main-container {
    background-color: rgba(128, 128, 128, 0.059);
    padding-top: 60px;
}

.structure-container {
    width: 80%;
    max-width: 1300px;
    margin: auto;
    text-align: center;
}

.structure-container h2,
.ready-container-heder {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;

}

.structure-container p {
    color: #627382;
    margin-bottom: 44px;

}

.card {
    max-width: 320px;
    padding: 50px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
    border-radius: 10px 10px 0 0;
    align-items: center;
}

.card-img {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
}

.card img {
    width: 32px;
    background-color: #F95555;
    margin: 12px;
    color: #F95555;
}

.card-container {
    display: flex;
    gap: 24px;

}

.card-container .card p {
    color: #627382;
    line-height: 20px;

}

.card-container .card h4 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}

#ready-to-container {
    width: 80%;
    max-width: 1300px;
    display: flex;
    gap: 60px;
    margin: 100px auto;
    align-items: center;
}

.design-para {
    line-height: 25px;
    margin-bottom: 16px;
    color: #627382;
}

#ready-to-container li {
    list-style: none;
    margin-bottom: 16px;
    color: #001931
}

#ready-to-container ul li img {
    padding-top: 6px;
}

.ready-access {
    width: 80%;
    max-width: 1300px;
    margin: auto;
    text-align: center;
    background-color: #F7F6F2;
    padding: 100px 40px;
    margin-bottom: 120px;
    border-radius: 5px;
}

.ready-access h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px
}

.ready-access p{
    color: #627382;
    line-height: 26px;
    margin-bottom: 20px;
    margin-top: 16px;
}
#footer-container{
    background-color: #001931;
    padding: 120px 120px 30px 120px;
}
.footer-section{
    display: flex;
    justify-content: space-between;
}
.footer-section ul li img{
    width: 20px;
    border-radius: 50%;
}
.footer-section ul{
    display: flex;
    gap: 16px;
    margin-top: 16px;
}
.footer-section ul li{
    list-style: none;
}
.footer-section p{
    color: white;
    font-size: 20px;
}
#footer-para{
    color: white;
    text-align: center;
    margin-top: 80px;
}